<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ski</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <script src="angular-ui-router.js"></script>
    <script src="mainScript.js"></script>
    <link rel="shortcut icon" href="">
    <style>
        #comparePart{
            position: fixed;
            bottom: 0px;
            width:100%;
        }
        input:invalid {
            border: 1px solid red;
        }
    </style>
</head>

<body ng-app="skiApp" class="w3-display-container">
<div ng-controller="mainController as mC">
<!--title-->
<div class="w3-container  w3-light-blue">

    <h1 class="w3-container w3-center">
        国际滑雪器件中心
    </h1>

    <!--shopping cart-->
    <div ui-sref="cartProcess">
        <div class=" w3-right w3-container w3-btn w3-col s1 w3-yellow w3-round-large">
            <i class="fa fa-shopping-cart w3-xlarge"><span class="w3-xlarge">&nbspCart&nbsp({{mC.currenyCartProductNum}})</span></i>
        </div>
    </div>

    <!--login and Register-->
    <div class="w3-right">
        <span>Hello&nbsp<span>{{mC.getPersonInfoName()}} </span>  </span><a ui-sref="signin">Signin</a> <a ui-sref="register">Register</a>
    </div>
    <br>
    <br>
<!--search-->
        <div class="w3-right w3-cotainer w3-col w3-padding s3 w3-green w3-round-large">
            <div class="w3-col s9">
                <input class="  w3-input w3-hover-light-grey w3-round" type="text" ng-model="search_text">
            </div>
            <span class="w3-col s3  w3-large">&nbspSearch</span>
        </div>
    <!--</div>-->

</div>

<!--main menu-->
<ul class=" w3-container w3-navbar w3-teal w3-large ">
    <li><a href="#">Home</a></li>
    <li class="w3-dropdown-hover">
        <a href="#">滑雪产品</a>
        <div class="w3-dropdown-content w3-card-2 w3-teal">
            <a ui-sref="skiBoots">滑雪鞋 </a>
            <a ui-sref="skiCloths">滑雪衣服 </a>
            <a href="#">滑雪单板 </a>
            <a href="#">滑雪裤子 </a>
        </div>
    </li>

    <li><a href="#">登山产品</a></li>
    <li><a href="#">户外旅游</a></li>
    <li><a href="#">促销产品</a></li>
</ul>

<!--two parts outside-->
<div ui-view></div>

<!--compare part-->
    <div  id="comparePart" class="w3-container w3-padding w3-center w3-display-bottommiddle" ng-show="mC.getShownComparedProductsLength()!=0">
        <!--{{mC.comparedProducts}}-->
        <div > <span class="w3-btn w3-white"><a ui-sref="compareProducts">Compare</a></span>
            <span class="w3-btn w3-white" ng-click="mC.clearCompare();mC.runActivate.run();">Clear All</span>
            <span class="w3-white" ng-repeat="item in mC.getCurrentComparedProducts() track by $index">
                <span class="w3-display-container w3-text-red">
                    <!--<span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>-->
                  <img class="w3-white" ng-src=" {{item.image}}" alt="Do not find image" style="height:50px;width:50px; vertical-align:bottom;">
                    <span ng-click="mC.mixRemoveOneComparedProduct($index)" class="w3-display-topright w3-btn w3-transparent w3-text-red w3-xlarge">&times;</span>
            </span>
            </span>
        </div>

    </div>


<!--footer-->
   <footer class="w3-container w3-padding w3-blue w3-center" style="height:150px">
    <br>
    <br>
    <span class="w3-margin-right" style="height:50%">
        <a href="">在线服务</a>
    </span>
    <span class="w3-margin-right" style="height:50%">
        <a href="">物流服务</a>
    </span>
    <span class="w3-margin-right" style="height:50%">
        <a href="">联系我们</a>
    </span>
</footer>
</div>
</body>
</html>